.tamBoton{
    width: 50px;
    height: 50px;
}

.botoncero{
    width: 100px;
    height: 50px;
}

.botonigual{
    width: 50px;
    height: 100px;
}

.fondo{
    background-color: rgb(216, 181, 248);
}

.tamCalc{
    width: 300px;
    height: 350px;
}

.pantalla{
    width: 200px;
    height: 20px;
    background-color: black;
    color: white;
}