<div class="row m-5 fondo tamCalc">
  <div class="col-12 mx-auto">
    <div class="m-2">
      <button mat-button class="tamBoton bg-secondary text-light m-1" (click)="Input(1)">1</button>
      <button mat-button class="tamBoton bg-secondary text-light m-1" (click)="Input(2)">2</button>
      <button mat-button class="tamBoton bg-secondary text-light m-1" (click)="Input(3)">3</button>
      <button mat-button class="tamBoton bg-secondary text-light m-1" (click)="">+</button>
    </div>
    <div class="m-2">
      <button mat-button class="tamBoton bg-secondary text-light m-1" (click)="Input(4)">4</button>
      <button mat-button class="tamBoton bg-secondary text-light m-1" (click)="Input(5)">5</button>
      <button mat-button class="tamBoton bg-secondary text-light m-1" (click)="Input(6)">6</button>
      <button mat-button class="tamBoton bg-secondary text-light m-1" (click)="">-</button>
    </div>
    <div class="m-2">
      <button mat-button class="tamBoton bg-secondary text-light m-1" (click)="Input(7)">7</button>
      <button mat-button class="tamBoton bg-secondary text-light m-1" (click)="Input(8)">8</button>
      <button mat-button class="tamBoton bg-secondary text-light m-1" (click)="Input(9)">9</button>
      <button mat-button class="tamBoton bg-secondary text-light m-1" (click)="">=</button>
    </div>
    <div class="border pantalla">
      <p>El resultado es</p>
    </div>
  </div>
</div>
