<div class="container-fluid" style="width: 400px">
    <div class="row">
      <div class="col-12">
        <h1 class="text-center">Registrate</h1>
      </div>
    </div>
    <div [hidden]="submitted">
      <form
        action=""
        method="post"
        (ngSubmit)="onSubmit()"
        #studentForm="ngForm"
      >
        <div class="row">
          <div class="col-12 mb-3">
            <label for="nombre" class="form-label">Nombre *</label>
            <input
              type="text"
              class="form-control"
              id="nombre"
              name="nombre"
              placeholder="Nombre"
              required
              [(ngModel)]="alumno.nombre"
            />
          </div>
          <div class="col-12 mb-3">
            <label for="apellidos" class="form-label">Apellidos *</label>
            <input
              type="text"
              class="form-control"
              id="apellidos"
              name="apellidos"
              placeholder="Apellidos"
              required
              [(ngModel)]="alumno.apellidos"
            />
          </div>
          <div class="col-12 mb-3">
            <label for="dni" class="form-label">Dni *</label>  
            <input
              type="text"
              class="form-control"
              id="dni"
              name="dni"
              placeholder="Dni"
              required
              [(ngModel)]="alumno.dni"              
            /> 

            <span class="fw-bold">{{alumno.dni | letraNif}}</span>
            
          </div>
          <div class="col-12 mb-3">
            <label for="comoConocioLaPagina" class="form-label">Como Conocio la pagina *</label>
  
            <select
              class="form-select"
              aria-label="Default select example"
              name="comoConocioLaPagina"
              id="comoConocioLaPagina"
              required
              [(ngModel)]="alumno.comoConocioLaPagina"
            >
              <option value="" selected="selected">-Select one-</option>
              @for(pagina of OpcionComoConocioLaPagina; track pagina){
              <option [value]="pagina">{{ pagina }}</option>
              }
            </select>
          </div>
          <div class="col-12 mb-3">
            <label for="sexo" class="form-label">Sexo*</label>
  
            <select
              class="form-select"
              aria-label="Default select example"
              name="sexo"
              id="sexo"
              required
              [(ngModel)]="alumno.sexo"
            >
              <option value="" selected="selected">-Select one-</option>
              @for(sexo of ListaSexo; track sexo){
              <option [value]="sexo">{{ sexo }}</option>
              }
            </select>
          </div>
          <div class="col-6 mb-3">
            <label for="age" class="form-label">Email</label>
            <input
              type="email"
              class="form-control"
              id="email"
              name="email"
              [(ngModel)]="alumno.email"
            />
          </div>
          <div class="col-6 mb-3">
            <label for="telefono" class="form-label">Telefono *</label>
            <input
              type="text"
              class="form-control"
              id="telefono"
              name="telefono"
              placeholder="Telefono"
              required
              [(ngModel)]="alumno.telefono"
            />
          </div>
          <div class="col-6 mb-3">
            <label for="password" class="form-label">Contraseña *</label>
            <input
              type="password"
              class="form-control"
              id="password"
              name="password"
              placeholder="Contraseña"
              required
              [(ngModel)]="alumno.password"
              (input)="validarContrasenas()"
            />
          </div>
          <div class="col-6 mb-3">
            <label for="repPassword" class="form-label">Repetir Contraseña *</label>
            <input
              type="text"
              class="form-control"
              id="repPassword"
              name="repPassword"
              placeholder="Repetir Contraseña"
              required
              [(ngModel)]="alumno.repPassword"
              (input)="validarContrasenas()"
            />
          </div>
          <div *ngIf="mensajeContrasena" class="error border-black alert-danger fw-bold">{{ mensajeContrasena }}</div>
          <div class="col-12">
            <button
              type="submit"
              class="btn btn-primary"
              style="width: 100%"
              [disabled]="!studentForm.form.valid"
            >
              Create student
            </button>
          </div>
        </div>
      </form>
    </div>
    <div class="row" [hidden]="!submitted">
      <div class="col-12">
        <div class="alert alert-success d-flex align-items-center" role="alert">
          <div>Formulario enviado</div>
        </div>
      </div>
    </div>
  </div>
  
