

<section class="example-section">
    <mat-checkbox class="example-margin" (change)="columna('numAlumno')">NºAlumno</mat-checkbox>
    <mat-checkbox class="example-margin"(change)="columna('nombre')">Nombre</mat-checkbox>
    <mat-checkbox class="example-margin"(change)="columna('apellidos')">Apellidos</mat-checkbox>
    <mat-checkbox class="example-margin"(change)="columna('nif')">NIF</mat-checkbox>
    <mat-checkbox class="example-margin"(change)="columna('edad')">Edad</mat-checkbox>
    <mat-checkbox class="example-margin"(change)="columna('curso')">Curso</mat-checkbox>
  </section>

<table mat-table [dataSource]="listAlumno" class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->
  
    <!-- Numero alumno Column -->
    <ng-container matColumnDef="numAlumno">
      <th mat-header-cell *matHeaderCellDef> No. </th>
      <td mat-cell *matCellDef="let element"> {{element.numAlumno}} </td>
    </ng-container>
  
    <!-- nombre Column -->
    <ng-container matColumnDef="nombre">
      <th mat-header-cell *matHeaderCellDef> Nombre </th>
      <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
    </ng-container>

      <!-- Apellidos Column -->
      <ng-container matColumnDef="apellidos">
        <th mat-header-cell *matHeaderCellDef> Apellidos </th>
        <td mat-cell *matCellDef="let element"> {{element.apellidos}} </td>
      </ng-container>


        <!-- Nif Column -->
    <ng-container matColumnDef="nif">
        <th mat-header-cell *matHeaderCellDef> Nif </th>
        <td mat-cell *matCellDef="let element"> {{element.nif}} </td>
      </ng-container>
  
    <!-- edad Column -->
    <ng-container matColumnDef="edad">
      <th mat-header-cell *matHeaderCellDef> Edad </th>
      <td mat-cell *matCellDef="let element"> {{element.edad}} </td>
    </ng-container>
  
    <!-- curso Column -->
    <ng-container matColumnDef="curso">
      <th mat-header-cell *matHeaderCellDef> Curso </th>
      <td mat-cell *matCellDef="let element"> {{element.curso}} </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  
  