<div class="card rounded m-5" style="width: 35%">
  <div class="row">
    <div class="col-6">
      <div class="card-body">
        <h5 class="card-title p-2">{{ nombreCoche }}</h5>
        <p class="card-text p-2">{{ marchas }}</p>

        
      </div>

      <div class="col-6">
        <img
          src="/assests/coche_1.png"
          class="card-img-top carPhoto position-absolute top-50 end-0 translate-middle-y"
          alt="..."
        />
      </div>
      <a href="#" class="btn btn-dark m-3">{{ precio }}</a>
    </div>
  </div>
</div>
