<div class="container-fluid">
    <div class="row mt-2 mb-2">
      @for( character of listCharacter; track character.url.split("/"[5])) {
      <div class="col-md-3 col-12">
        <div class="card bg-secondary text-light m-3" style="width: 18rem">
          <div class="card-header">
            <img src="{{character.image}}"  class="card-img-top" alt="{{ character.image }}" />
          </div>
          <div class="card-body">
            <h5 class="card-title text-warning">{{ character.name }}</h5>
            <p>{{character.status}} - {{character.species}}</p>
            
            <p>Last known location:</p>
            <h5>{{character.origin.name}}</h5>
            <p>First seen in:</p>
            <h5>{{character.episode[0]}}</h5>
          </div>
        </div>
      </div>
      }
    </div>
  </div>